body {
  margin: 0px;
  position: relative;
}

.custom-select {
  position: relative;
  width: 140px;
  background: #181a24;
  color: #e5e5e5;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  padding: 8px 0;
  user-select: none;
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #181a24;
  border-radius: 10px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 10;
}

.custom-select.open .custom-options {
  max-height: 200px;
  opacity: 1;
  visibility: visible;
}

.custom-options div {
  padding: 8px 0;
  cursor: pointer;
}

.custom-options div:hover {
  background: #22242f;
}
